.flex-row {
	display: flex !important;
	flex-direction: row !important;
}

.flex-col {
	display: flex !important;
	flex-direction: column !important;
}

.justify-start {
	justify-content: start !important;
}

.justify-center {
	justify-content: center !important;
}

.justify-end {
	justify-content: end !important;
}

.justify-between {
	justify-content: space-between !important;
}

.items-center {
	align-items: center !important;
}
