.gap-8 {
	gap: 8px !important;
}

.gap-16 {
	gap: 16px !important;
}

.gap-32 {
	gap: 32px !important;
}

.mt-32 {
	margin-top: 32px !important;
}

.pa-32 {
	padding: 32px;
}

.py-8 {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.py-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
}

.px-16 {
	padding-left: 16px !important;
	padding-right: 16px !important;
}

.px-32 {
	padding-left: 32px !important;
	padding-right: 32px !important;
}

.pa-0 {
	padding: 0px;
}

.pa-16 {
	padding: 16px !important;
}

.pa-32 {
	padding: 32px !important;
}

.mb-16 {
	margin-bottom: 16px !important;
}

.my-4 {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

.my-6 {
	margin-top: 6px !important;
	margin-bottom: 6px !important;
}
